<header>
  <ul class="tabs">
    <li><%= link_to "Home", root_path %>
    <li><%= link_to "Add a spill location", new_location_path %></li>
    <li><%= link_to "View all spill locations", locations_path %></li>
  </ul>
</header>
